.sec1{
    height: 60vh;
    margin-top: 6%;
    img-div{
        margin-right: 20%;
        .img-right{
            background: cover no-repeat;
        }

    }

}
// sec1 end

// .sec2{
    
// }
// sec2 

.bg-no-repeat-cover{
    background-size: cover;
    background-repeat: no-repeat;
    
}
